APPLICATION_NAME='NIRDC Staff'

SERVER_PORT=5000
SECRET_KEY=YOUR_SUPER_SECRET_JWT_KEY_HERE
CLIENT_URL=http://localhost:5000/api/v1

ADMIN_USER_FIRST_NAME=Admin
ADMIN_USER_LAST_NAME=User
ADMIN_USER_MOBILE=012345678
ADMIN_USER_EMAIL=admin@nirdc.gov.lk
ADMIN_USER_PASSWORD=YOUR_STRONG_ADMIN_PASSWORD_HERE

FRONTEND_URL=http://localhost:5173

GMAIL_FROM_EMAIL=no-reply@nirdcsl.com
GMAIL_APP_PASSWORD=YOUR_GMAIL_APP_PASSWORD_HERE

SMS_USERNAME=YOUR_SMS_USERNAME_HERE
SMS_PASSWORD=YOUR_SMS_PASSWORD_HERE
SMS_SENDER_ALIAS=NIRDC

DB_CONNECTION_STRING=mongodb://127.0.0.1:27017/nirdc_db

AWS_BUCKET_NAME=YOUR_AWS_S3_BUCKET_NAME
AWS_ACCESSKEYID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRETACCESSKEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=ap-south-1
GOOGLE_DRIVE_BACKUP_FOLDER_ID=YOUR_DRIVE_FOLDER_ID